<!DOCTYPE html>
<html>

<head>
    <title>Halloween</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-3.5.1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">

</head>

<body>
    
    <div class="row">
        <!-- <a href="/games">Game</a> -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="image1">
                <h5 style="font-family: 'Syne Mono', monospace; padding-bottom:2%">31 OCTOBER 2020 - Deadwood Mansion</h5>
                <h1>Halloween Party</h1>
                
                <svg width="100%" height="520" viewBox="0 0 864 864" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Welcome to our haunted house 1">
            <g id="stars">
            <g id="Group">
            <g id="Group_2">
            <path id="Vector" d="M144.7 415.8L147.7 394.1C147.8 393.7 148.3 393.7 148.4 394.1L153.3 415.2C153.3 415.4 153.5 415.5 153.6 415.5L174 415.3C174.4 415.3 174.5 415.8 174.1 416L156.1 423.4C155.9 423.5 155.8 423.7 155.9 423.8L162.4 444.9C162.5 445.3 162 445.5 161.8 445.2L150.2 428.9C150.1 428.7 149.8 428.7 149.6 428.9L138.4 444C138.2 444.3 137.7 444.1 137.8 443.7L142.9 424.3C143 424.1 142.8 423.9 142.6 423.9L124 420C123.6 419.9 123.6 419.4 124 419.3L144.3 416.2C144.5 416.1 144.7 416 144.7 415.8Z" fill="#C4DF1A"/>
            </g>
            </g>
            <g id="Group_3">
            <g id="Group_4">
            <path id="Vector_2" d="M215 176.4L211.5 158.3C211.4 158 211.9 157.8 212 158.1L221.7 173.6C221.8 173.7 221.9 173.8 222.1 173.7L238.3 167.9C238.6 167.8 238.8 168.2 238.6 168.4L226.3 179.2C226.2 179.3 226.2 179.5 226.3 179.6L237.2 194.7C237.4 195 237.1 195.3 236.8 195.1L223.1 185.2C222.9 185.1 222.7 185.2 222.6 185.3L217.8 200.5C217.7 200.8 217.2 200.8 217.2 200.4L216 183.5C216 183.3 215.8 183.2 215.7 183.2L199.8 185.2C199.5 185.2 199.3 184.8 199.6 184.6L215 176.6C214.9 176.7 215 176.5 215 176.4Z" fill="#C4DF1A"/>
            </g>
            </g>
            <g id="Group_5">
            <g id="Group_6">
            <path id="Vector_3" d="M338.6 210.1L342.7 186.6C342.8 186.2 343.4 186.2 343.5 186.6L348 209.7C348 209.9 348.2 210 348.4 210L370.6 210.6C371 210.6 371.1 211.2 370.7 211.3L350.9 218.6C350.7 218.7 350.6 218.9 350.7 219.1L356.9 242.3C357 242.7 356.4 243 356.2 242.6L344.3 224.4C344.2 224.2 343.8 224.2 343.7 224.4L330.9 240.5C330.6 240.8 330.1 240.6 330.2 240.1L336.6 219.2C336.7 219 336.5 218.8 336.3 218.7L316.2 213.7C315.8 213.6 315.8 213 316.2 212.9L338.4 210.3C338.4 210.4 338.5 210.3 338.6 210.1Z" fill="#C4DF1A"/>
            </g>
            </g>
            <g id="Group_7">
            <g id="Group_8">
            <path id="Vector_4" d="M523 250.3L531.5 233.9C531.7 233.6 532.1 233.7 532.1 234.1L530 252.3C530 252.4 530.1 252.6 530.2 252.6L546.5 258.2C546.8 258.3 546.7 258.8 546.4 258.8L530 259.6C529.8 259.6 529.7 259.7 529.7 259.9L528.9 278.5C528.9 278.8 528.4 278.9 528.3 278.6L523.7 262.3C523.6 262.1 523.4 262 523.2 262.1L510 271C509.7 271.2 509.4 270.9 509.6 270.6L519.1 256.6C519.2 256.5 519.2 256.3 519 256.2L505.3 247.9C505 247.7 505.2 247.3 505.5 247.4L522.5 250.7C522.9 250.5 523 250.5 523 250.3Z" fill="#C4DF1A"/>
            </g>
            </g>
            <g id="Group_9">
            <g id="Group_10">
            <path id="Vector_5" d="M123.2 319.8L125.5 301.5C125.5 301.2 126 301.1 126.1 301.5L130.4 319.3C130.4 319.4 130.6 319.5 130.7 319.5L147.9 319.1C148.2 319.1 148.3 319.5 148 319.7L132.9 326.1C132.8 326.2 132.7 326.3 132.7 326.5L138.4 344.3C138.5 344.6 138.1 344.8 137.9 344.6L128 330.9C127.9 330.7 127.6 330.7 127.5 330.9L118.1 343.8C117.9 344.1 117.5 343.9 117.6 343.6L121.7 327.2C121.7 327 121.6 326.9 121.5 326.8L105.8 323.7C105.5 323.6 105.5 323.2 105.8 323.1L122.9 320.3C123.1 320 123.2 319.9 123.2 319.8Z" fill="#C4DF1A"/>
            </g>
            </g>
            </g>
            <path id="house" d="M639.6 541.8C640.2 546.2 637.8 550.1 634.2 550.6C630.5 551.1 627.1 548 626.5 543.6C625.9 539.2 628.3 535.2 632 534.7C635.6 534.3 639 537.4 639.6 541.8ZM435.2 570C435.8 574.4 439.2 577.5 442.9 577C446.5 576.5 448.9 572.6 448.3 568.2C447.7 563.8 444.3 560.7 440.7 561.1C437 561.7 434.6 565.6 435.2 570ZM297.3 673.6C301 673.1 303.4 669.1 302.8 664.6C302.2 660.1 298.7 656.9 295 657.4C291.3 657.9 288.8 661.9 289.4 666.4C290.1 670.9 293.5 674.1 297.3 673.6ZM628.7 606.8L632.9 631.7C636.8 629.1 637.8 623.7 637.1 618.5C636.3 612.2 632.7 606.2 628.7 606.8ZM363.2 642.8L365.1 652.1C367.4 651.6 368.7 648.9 368.4 646.6C368.1 644.5 366.5 642.6 363.2 642.8ZM653.5 810.8L768.7 808.2V826.7H123.7V811.5H262.1L215.4 605.9L170.4 615.2C198.2 587.4 188.8 457.2 188.8 457.2L321.2 416.1C330.5 441.3 369.3 505.4 369.3 505.4L394.2 431.1L369 321.2L334.8 322.5C377.4 301.3 395.5 122.5 395.5 122.5C410.1 213.9 484.2 301.3 484.2 301.3L453.7 305.3L458.7 427.7L497 493.6L522.5 404.7L481.4 398.1C530.4 365 676.2 122.6 676.2 122.6C692.1 224.6 768.4 440 768.4 440L721.7 434.6L653.5 810.8ZM660.3 441.2L629.8 428.9L620.2 470L657.5 474.3C658.9 462.9 659.9 451.7 660.3 441.2ZM641 381L631.2 422.8L660.5 434.6C660.8 408.4 656.3 387.6 641 381ZM596 408.5L625.4 420.4L635 379.2C633.6 379 632.2 378.8 630.6 378.7C617.4 378.2 605.7 391 596 408.5ZM573.5 464.6L614 469.3L624 426.6L593 414C584.9 429.9 578.3 448.5 573.5 464.6ZM573.4 526.1L575.6 541.1L583.7 540.5L583.4 538L586.1 537.5L587.9 582.4L610.3 580.2L600.7 535L604.5 534.6L604.8 537.6L609.7 537.3L608.9 522.2L573.4 526.1ZM595.1 611L608.6 610.7L608.1 597.8L578.2 604.3L578.5 611.3L581.5 611.1L584.2 647.6L609.4 645.5L608.9 639.2L599.8 639.5L598 628.5L603.7 628.4L603.3 621.9L597.1 622.9L595.1 611ZM554.1 616.2L556.3 615.8L557.7 651.5L575.5 649.7L567.9 613.8L571 613.5L571.3 615.9L575.2 615.7L574.5 603.7L546.2 606.7L547.9 618.7L554.3 618.2L554.1 616.2ZM528.6 631.2L538.8 652.9L548.9 651.6L543.7 605.2L533.9 606.6L534.8 623.2L526.3 607.6L505.3 609.3L505.9 616.7L510.1 616.3L513.2 656.5L531.8 654.1L528.6 631.2ZM444.5 627.7L442.3 666.3L457 667.7L457.8 659.3L463.9 658.5L466.1 665.8L479.6 663.8L463.4 617.2L443 623L442.8 627.8L444.5 627.7ZM495.2 661.9C502.5 660.9 509.1 654.8 507.7 644.9L507.5 643.8L501.5 612.7L491.4 614.1L496.4 639.3V639.6C496.9 643.2 496 644.9 494.8 645C493.5 645.2 491.7 643.4 491.2 640.2L486.3 615.2L472.5 617.8L474.2 630.3L477.3 629.5L478.8 647.8L478.9 649C480.2 658.9 488 662.9 495.2 661.9ZM513.6 537L514 545.8L517.8 545.6L521.2 591.5L552.9 588.8L552.3 580.9L540.9 581.3L538.6 567.4L545.7 567.3L545.2 559.1L537.3 560.3L534.9 545.5L551.8 545.1L551.1 528.9L513.6 537ZM455.6 543.6L456.4 553.7L463 552.8L468.4 597.9L489 593.7L484.5 571.3L492.5 582L497.8 570.5L499.2 592L516.5 591.2L504.5 534.7L489.8 537.4L488.6 556.8L480.3 539.6L455.6 543.6ZM437.9 549C427 550.5 419.6 562.4 421.4 575.7C423.2 589 433.6 598.5 444.5 597C455.4 595.5 462.7 583.6 460.9 570.3C459.1 557 448.8 547.5 437.9 549ZM420.6 655.7L423.5 655.2L426.5 670.2L438.7 667.7L430.4 618L417.5 620.3L422.3 648.6L418.9 649.1L411.5 620.9L394.8 627L396.5 633.6L399.9 633L406.5 673.1L423.3 670.7L420.6 655.7ZM441.8 376.4L422.6 377L425.1 400.1L442.2 398.9C442.2 398.9 442.5 389.2 441.8 376.4ZM438.4 347.8L419.8 350.5L422.2 372.8L441.5 372.2C441 364.4 440.1 355.8 438.4 347.8ZM418.5 377.1L401.2 377.7C403.4 391.1 406.3 401.4 406.3 401.4L421.1 400.4L418.5 377.1ZM416.2 317.2L419.4 346.4L437.6 343.7C433.9 328.4 427.4 316.2 416.2 317.2ZM415.7 351.1L398.7 353.6C398.9 360.3 399.6 367.1 400.5 373.5L418 373L415.7 351.1ZM398.7 349.4L415.3 347L412.2 318C402.1 321.7 398.8 334.7 398.7 349.4ZM385.1 583.9C386.9 596.7 396.7 607.7 411.5 605.6C416 605 421 603.1 426.3 599.7L420.4 590.5C416.9 592.4 413.9 593.4 411.3 593.7C403.7 594.8 399.6 590.4 398.8 584.8C397.8 577.4 402.6 567.9 412.9 566.5L413.6 566.4L416 550C415.1 550.1 414.2 550.2 413.2 550.3C391.1 553.4 383.2 569.7 385.1 583.9ZM368.3 666.3C369 666 369.7 665.7 370.3 665.3L377.6 676.4L386 666.6L377 659C379.4 655.2 380.6 650.6 380 646.3C378.8 637.9 371.1 630.7 353.8 633.1C351.1 633.5 348.3 634 345.2 634.8L347 644.3L350.6 644.1L355.1 678.8L370.4 676.5L368.3 666.3ZM335.6 667C334.3 667.2 332.5 665.4 332 662.2L327.1 637.2L313.3 639.8L315 652.3L318 651.5L319.5 669.8L319.6 671C321 681 328.8 684.9 335.9 683.9C343.2 682.9 349.8 676.8 348.4 666.9L348.2 665.8L342.2 634.7L332.1 636.1L337.1 661.3V661.6C337.7 665.1 336.8 666.8 335.6 667ZM338 558.8L339 569.3L344 568.6L347.1 613.9L385.3 608.2L381.1 585.9L363.3 590.3L357.4 556.3L338 558.8ZM332.9 559L295.3 567.1L295.7 575.9L299.5 575.7L302.9 621.6L334.6 618.9L334 611L322.6 611.4L320.3 597.5L327.4 597.4L326.9 589.2L319 590.4L316.6 575.5L333.5 575.1L332.9 559ZM310.5 532.2L305.3 515.8C298.4 519.2 292 522.5 286.6 525.3C288.5 532.7 290.2 537.7 290.2 537.7L310.5 532.2ZM326.7 505.2C321.2 507.9 315.7 510.6 310.3 513.3L315.8 530.8L331.1 526.7C330 520.5 328.6 512.9 326.7 505.2ZM294.4 462.9L308.6 508C313.6 505.5 319.1 502.8 325.3 499.8C319.6 479.8 310.3 460.5 294.4 462.9ZM285.3 519.8C290.1 517.3 296.1 514.2 303.7 510.4L289.3 464.5C276.6 472 280.8 500.7 285.3 519.8ZM276.9 624.4L277.1 610.3L281.2 623.8L295 621.7L290.8 566.8L281 568L282 597L272.8 576.8L270.2 601.2L262.9 570.5L246.1 573.5L247.8 587.3L252.1 586.9L261.3 626.2L276.9 624.4ZM299 694C310.1 692.5 317.6 680.3 315.8 666.7C313.9 653.2 303.4 643.5 292.3 645.1C281.1 646.6 273.6 658.8 275.5 672.3C277.2 685.8 287.8 695.5 299 694ZM375.9 793.4L360.4 700.7L336.3 705.1L345.3 758L338.9 758.9L325 706.2L293.7 717.6L296.9 729.8L303.2 728.7L315.6 803.7L347 799.2L342 771L347.4 770L353.1 798.1L375.9 793.4ZM440.7 736.5C437.7 714.7 420.7 699.1 402.8 701.6C384.8 704.1 372.6 723.7 375.6 745.5C378.6 767.4 395.6 783 413.6 780.5C431.6 778 443.8 758.4 440.7 736.5ZM510 748L509.7 745.7L497.4 681.4L476.5 684.3L486.8 736.5L486.9 737.1C487.9 744.5 486.1 748 483.6 748.3C480.8 748.7 477.1 745 476.1 738.3L465.9 686.5L437.3 691.9L440.9 717.8L447.2 716.2L450.2 754L450.4 756.5C453.2 777.1 469.4 785.3 484.2 783.3C499.2 781.1 512.8 768.6 510 748ZM574.7 738.5C572.7 723.7 553.2 720.1 541.8 715.2C536.2 712.9 533.7 709.6 533.3 706.5C532.6 701.2 537.5 696.2 543.9 695.3C548 694.7 552.8 696 557 699.9L553.3 680.5C548.6 679 544.1 678.6 539.8 679.2C523.4 681.5 511.5 697.1 513.3 710.2C513.6 712.2 514.1 714.3 515.1 716.1C522 728.6 545.3 732.3 546.3 740C546.4 740.8 546.1 741.7 545.6 742.7C544.9 744.3 543.4 745.2 541.4 745.5C535.2 746.4 524.4 741.3 518.1 735.8L515 766C523.8 772.1 534.2 774 543.9 772.7C556.4 771 567.4 763.9 571.9 753.5C574.5 747.4 575.2 742.5 574.7 738.5ZM635.6 761L634.6 747.9L615.8 748.6L612 725.8L623.8 725.6L623 712.1L610.1 714.1L606.1 689.7L634 689.1L632.9 662.5L571 675.9L571.6 690.3L577.8 689.9L583.5 765.4L635.6 761ZM645.8 619C644.2 607.3 634.4 596 617.8 596.7L611.5 596.9L613.2 606.9L617.3 606.3L620.7 645.2L626 644.5C641.2 642.3 647.4 630.4 645.8 619ZM652.2 543.8C650.4 530.6 640 521.1 629.2 522.6C618.3 524.1 610.9 536 612.7 549.3C614.5 562.6 624.9 572.1 635.8 570.6C646.7 569 654.1 557.1 652.2 543.8ZM407.4 721.6C401.4 722.4 397.4 728.9 398.4 736.2C399.4 743.4 405 748.5 411 747.7C416.9 746.9 420.9 740.4 419.9 733.3C418.9 725.9 413.3 720.8 407.4 721.6Z" fill="black"/>
            <g id="birds">
            <path id="Vector_6" d="M282.5 266.7C229.4 299.3 240.1 355.4 242.2 364.7C238 356.1 210.8 306 149 314.3C149 314.3 174.8 318.2 171 342C171 342 200.8 327.5 203.5 363.1C203.5 363.1 244 366.1 245.3 394.2L248 381.2L258.3 389.6C241.5 367 271 339 271 339C250.6 309.7 282.8 302.1 282.8 302.1C265 286 282.5 266.7 282.5 266.7Z" fill="black"/>
            <path id="Vector_7" d="M605 77.1C526 71.3 495.3 137 490.7 148.2C492.8 136.3 501.9 64.3 432 27C432 27 455.7 50.2 434.2 71.9C434.2 71.9 475.7 79.1 452.1 117.8C452.1 117.8 491.7 151 472.1 181L484.5 169.6L488.9 185.9C488.3 150.1 539.5 143.2 539.5 143.2C540.2 97.8 579.1 113.9 579.1 113.9C572.6 84 605 77.1 605 77.1Z" fill="black"/>
            </g>
            <path id="moon" d="M152 214.4C142 183.3 152.9 150.5 176.8 131C167.5 130.5 158 131.5 148.7 134.5C108.2 147.6 86 191 99 231.5C112 272 155.4 294.2 195.9 281.2C205.3 278.2 213.6 273.5 220.8 267.7C190 265.8 162 245.5 152 214.4Z" fill="#E1931E"/>
            </g>
            </svg>
            <h4 style="padding-top:4%">We'd like, if we may, to take you on a strange journey...</h4>

            <div class="row">
                <div class="col-lg-4">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_LkZoF0.json"  background="transparent"  speed="1"  style="width: 100%; height: 400px;"  loop  autoplay></lottie-player>
                </div>
                <div class="col-lg-4">
                    <audio id="audio" src="male-laugh.wav" autoplay="false" ></audio>
                    <button href="#tricked" onclick="playSound(); location.href='#tricked'" type="button" class="btn btn-light btn-lg" style="border-radius: 25%; color:orange; margin:5%;">Enter</button>
                    <script>
                    function playSound() {
                        var sound = document.getElementById("audio");
                        sound.play();
                    }
                    </script>
                </div>
            </div>
            
            </div>
        </div>
    </div>

    <div class="row" id="tricked" style="background-color:#f4f4f4">
        <div class="col-lg-12 col-md-12 col-sm-12 pumpkin">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_2earvhc0.json" background="transparent" speed="1" style="width: 100%; height: 300px;" loop autoplay></lottie-player>
            <h1>You got tricked!</h1>
            <h6>There's no party. We've locked you in the Haunted House. Escape if you can!</h6>
        </div>
    </div>

    <div style="background-color:#557571; padding:7%;">
        <h1>Explore the house.</h1>
        <div class="row">
            <div class="col-lg-4">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_a3haoh.json"  background="transparent"  speed="1"  style="width: 100%; height: 400px;  transform: scaleX(-1);
                "loop  autoplay></lottie-player>
            </div> 

        <div class="col-lg-4">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_C2cp6d.json"  background="transparent"  speed="1"  style="width: 100%; height: 300px;"loop  autoplay></lottie-player>
            <center> <a href="/games" style="color:black; text-decoration:none;"><h4 style="margin-top:-3%;">Door 1</h4></a> </center>
        </div>
        <div class="col-lg-4">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_C2cp6d.json"  background="transparent"  speed="1"  style="width: 100%; height: 300px;"  loop  autoplay></lottie-player>
           <center> <a href="/meal" style="color:black; text-decoration:none;"><h4 style="margin-top:-3%;">Door 2</h4></a> </center>
        </div>  
    </div>
    
    
    </div>


<section class="footer">
    <a href="http://infinitywebstudios.herokuapp.com/" style="text-decoration: none;"><p>© Copyright 2020 Infinity Web Studios</p></a>
</section>
</body>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>